.blankbg {
    height: 300px;
    width: 700px;
    background-color: rgb(102, 102, 240);
    border-radius: 150px 0px 0px 150px;
    position: absolute;
    top: 340px;
    right: 0px;
    z-index: -1;
}

.blankbg1{
    border-radius: 0px 150px 150px 0px;
    top: 200px !important;
}

.cont-4{
    margin: 200px 0px 100px 0px !important;
}

body{
            background: #f0f3ff;
            font-family: 'Poppins', sans-serif;
        }

        /* Heading Section */

.feature-main-title{
    margin-top: 150px !important;
    
}

        .feature-main-title h2{
            font-size: 36px;
            font-weight: 700;
            color: #2d2d2d;
        }
        .feature-main-title p{
            color: #6d6d6d;
            max-width: 630px;
            font-size: 16px;
            margin: 10px auto 50px;
        }

        /* Feature Image Card (Glass effect) */
        .image-card{
            background: rgba(255, 255, 255, 0.55);
            backdrop-filter: blur(10px);
            padding: 25px;
            border-radius: 20px;
            box-shadow: 0 15px 40px rgba(0,0,0,0.1);
        }
        
        .feature-img{
            width: 100%;
        }

        /* Right Text Section */
        .feature-content h3{
            font-size: 30px;
            font-weight: 700;
            color: #2c2c2c;
        }
        .feature-content p{
            color: #5c5c5c;
            font-size: 16px;
            line-height: 1.6;
            max-width: 420px;
        }

        .btn-custom{
            background: linear-gradient(135deg,#5b66ff, #3c47d7);
            padding: 12px 28px;
            color: #fff;
            border-radius: 10px;
            font-weight: 600;
            box-shadow: 0px 10px 20px rgba(78, 89, 255, 0.4);
            transition: .3s;
        }
        .btn-custom:hover{
            transform: translateY(-4px);
            color: #fff;
            box-shadow: 0px 14px 26px rgba(78, 89, 255, 0.55);
        }

        .img-lef{
            position: relative;
        }